<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
{{template "header.tmpl"}}

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    {{template "navbar.tmpl"}}

    {{template "sidebar.tmpl" .sidebar}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="main-content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Starter Page</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {{range $index, $card := .cards}}
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">{{$card.Title}}</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text">{{$card.Content}}</p>

                                {{range $linkid, $link := $card.Link}}
                                    <a href="{{$link.Href}}" class="card-link">{{$link.Name}}</a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{template "sidebar_right.tmpl"}}

    {{template "footer.tmpl"}}
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

{{template "jquery.tmpl"}}
<script>
    function LoadTable(url) {
        $.ajax({url:url,success:function(result){
                $("#main-content").html(result);
            }});
    }
</script>
</body>
</html>
