<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Table</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create New Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <form id="add_cmd_form" method="post">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{.title}}</h3>
                    <div class="card-tools pull-right">
                        <button class="btn btn-default" data-toggle="modal" data-target="#create-modal">Create New</button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                    <tr role="row">
                                        {{range .cols }}
                                        <th>{{.}}</th>
                                        {{end}}
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                    {{range .cols }}
                                        <th>{{.}}</th>
                                    {{end}}
                                    </tr>
                                    </tfoot>
                                </table></div></div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var pks = {{.pks}};
    var col_vals = [];
    var pks_ids = [];

    $(function () {
        var table = $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "scrollX": true,
            "processing": true,
            "serverSide": true,
            "ajax": "/table/" + "{{.title}}" + "/data"
        });

        var header = table.columns().header();
        for (var i = 0; i !== header.length; i++) {
            var col = header[i].innerHTML;
            col_vals.push(col);
            if (pks.includes(col)) {
                pks_ids.push(i);
            } else {
                // create modal input
                var input =
                    '                        <div class="input-group" style="margin: 5px;">\n' +
                    '                        <span class="input-group-prepend">\n' +
                    '                            <a href="#" class="btn btn-default disabled">' + col +
                    '                            </a>\n' +
                    '                        </span>\n' +
                    '                            <input type="text" class="form-control" name="' + col + '" required>\n' +
                    '                        </div>'


                $('#add_cmd_form').append(input);
            }
        }

        $('#example').on('click', 'td', function () {
            var cell = table.cell(this);
            var data = cell.data();
            var index = cell.index();
            var row = index.row;
            var col = index.column;

            // primary key cannot be changed
            if (pks_ids.includes(col)) {
                return;
            }

            var tmp = '<div id="my-table-edit" class="input-group">\n' +
                '                            <input id="my-table-input" type="text" size="16" style="width: 80%"/>\n' +
                '                            <span class="input-group-append">\n' +
                '                                <button id="my-table-save" type="button" class="btn btn-default"><i class="fa fa-save"></i></button>\n' +
                '                            </span>\n' +
                '                        </div>';

            $(this).html(tmp);
            var input = $(this).find("input");
            input.focus().val(data);

            $(this).off('click', "#my-table-save").one("click", "#my-table-save", function () {

                var row_vals = table.row(row).data();

                var dict = {};
                dict['rows'] = row_vals.filter(function (val, id) {
                    return pks_ids.includes(id);
                });
                dict['cols'] = col_vals.filter(function (val, id) {
                    return pks_ids.includes(id);
                });
                dict['col'] = col_vals[col];
                dict['data'] = input.val();

                $.ajax({
                    type: "PUT",
                    url: "/table/{{.title}}",
                    data: JSON.stringify(dict),
                    success: function (result) {
                        data = result;
                        cell.data(data);
                    },
                    error: function (result) {
                        alert(result.responseText);
                    }
                });
                event.stopPropagation();
            });

            $(this).off('blur', '#my-table-input').on("blur", "#my-table-input", function () {
                if (event.relatedTarget == null || event.relatedTarget.id !== 'my-table-save') {
                    $('#my-table-edit').replaceWith(data);
                }
            });

        });

    });



</script>

<!-- DataTables -->
<script src="static/adminlte/plugins/datatables/jquery.dataTables.js"></script>
<script src="static/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
